@model  Product

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProductId)
        
        @*
            ////////////////////////////////////////////////////////////////
            @Html.EditorFor(model => model)
            @Html.Partial("Product", Model)
            @Html.EditorForModel();
            以上三種寫法是相同的
            ////////////////////////////////////////////////////////////////
        *@
        @Html.EditorForModel();

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section breadcrumb{
    <li>
        @Html.ActionLink("產品列表(Day 1)", "Index", "Products")
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="#">商品修改</a></li>
}